<div data-sly-use.data="cart.js"></div>

<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Cart"></div>
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/> 
<sly data-sly-call="${clientLib.css @ categories='cart'}" />
<div data-sly-call="${clientLib.all @ categories='granite.csrf.standalone'}"></div>
<div data-sly-use.access="${'esri.commerce.esri.core.services.AccessToken'}"></div>
<div data-sly-use.osgi="${'esri.commerce.esri.core.services.OSGIConfig'}"></div>
<div data-sly-use.validate="${'esri.commerce.esri.core.services.ValidateCart' @ skus=data.skus, quantities=data.quantities, endDates=data.endDates}"></div>
<div data-sly-use.getTotalPrice="${'esri.commerce.esri.core.services.GetTotalPrice' @ locale=data.locale, token=access.token, secret=access.secret, gcids=data.gcids, quantities=data.quantities}"></div>
<!--INSERT CODE FOR CART TABLE HEADERS-->
<div class="grid-container">
    <div class="column-24 mainContent">
        <div class="column-12 productContent">
            <h3 class="cartText font-size-6">Cart</h3>
        </div>
        <div class="column-6 productContent">
            <h3 class="font-size-2" style="margin-top: 35px;">Price</h3>
        </div>
        <div class="column-6 productContent">
            <h3 class="font-size-2" style="margin-top: 35px;">Quantity</h3>
        </div>
    </div>
</div>



<!-- BEGIN CART CONTENTS SECTION - REPEAT ENTIRE SECTION BELOW AS OFTEN AS NECESSARY FOR NUMBER OF PRODUCTS IN CART -->
<div class="grid-container cartRule"></div>
<div class="grid-container" style="margin-bottom:25px;" data-sly-list.item="${data.cart.products}">
    <div class="column-24 mainContent">
        <div class="column-3 productContent">
            <form id="remove${itemList.index}" method="POST" action="${ resource.path }.delete.html">
                <input type="hidden" name="entryNumber" value="${ itemList.index }"/>
                <input type="hidden" name="redirect" value="${ currentPage.path }.html"/>
                <button type="submit" class="btn btn-default btn-icon"><i class="fa fa-trash"></i>Remove</button>
                <!-- <p>
                	<a class="link-blue" href="javascript:$('remove${itemList.index}').submit();">Remove</a>
            	</p> -->
            </form>
        </div>
        <div class="column-9 productContent">
            <p class="addInfo font-size-2">${data.esriProducts[itemList.index].getTitle}</p>
            <p data-sly-test="${data.products[itemList.index].license}" class="addInfo font-size--1">License Type: ${data.products[itemList.index].license}</p>
            <p data-sly-test="${data.products[itemList.index].license == 'One-Year Subscription'}"class="addInfo font-size--1">Start Date: ${data.products[itemList.index].startDateText}</p>
            <p data-sly-test="${data.products[itemList.index].license == 'One-Year Subscription'}"class="addInfo font-size--1">End Date: ${data.products[itemList.index].endDateText}</p>
       		<p data-sly-test="${data.errorMessage && validate.getInvalidSku == data.products[itemList.index].sku}"class="addInfo font-size--1">${data.errorMessage}</p>
        </div>
        <div data-sly-test.newEndDate="${validate.getNeedsNewEndDate == data.products[itemList.index].sku}" data-sly-use.getPrice="${'esri.commerce.esri.core.services.GetPrice' @ locale=data.locale, token=access.token, secret=access.secret, gcid=data.products[itemList.index].gcid, startDate=data.products[itemList.index].startDate, endDate=validate.getNewEndDate}"></div>
        <div data-sly-test="${!newEndDate}" data-sly-use.getPrice="${'esri.commerce.esri.core.services.GetPrice' @ locale=data.locale, token=access.token, secret=access.secret, gcid=data.products[itemList.index].gcid, startDate=data.products[itemList.index].startDate, endDate=data.products[itemList.index].endDate}"></div>        
        <div class="column-6 productContent">
            <p class="font-size-2 price" style="margin-top:5px;">$ ${getPrice.price}

<!-- TOOLTIP FOR PRORATED PRICING - COMMENT AND UNCOMMENT AS NECESSARY -->
                <a data-sly-test="${newEndDate}" class="tooltip tooltip-multiline tooltip-right" aria-label="This is a prorated price based on a prorated subscription." ><span class="icon-ui-description icon-ui-blue"></span></a>
<!-- END TOOLTIP FOR PRORATED PRICING -->

            </p>
        </div>
        <div class="column-6 productContent">
            <p><input onchange="updateCart(${resource})" class="quantitySelector" id="${itemList.index}" min="0" value="${item.getQuantity}" style="margin-left:10px; width: 70px; display: inline-block !important;" required="" aria-required="true" type="number"></p>
        </div>
    </div>
</div>
<!-- END CART CONTENTS SECTION - ^^ GRAB ALL CODE ABOVE FOR REPEAT-->



<!-- DIV TO SEPARATE CART CONTENTS FROM SUBTOTAL -->
<div class="grid-container cartRule"></div>
<!-- END SEPARATOR DIV-->

<!-- BEGIN SUBTOTAL, TAX, CHECKOUT, CONTINUE SHOPPING SECTION -->
<div class="grid-container">
    <div class="column-20 mainContent">
        <div class="column-13 productContent">
            <h3 class="cartText font-size-6"></h3>
        </div>
        <div class="column-4 productContent" style="text-align: right;">
            <!-- <h3 class="font-size-2" style="margin-top: 25px;">Cart Subtotal</h3>
            <h3 class="font-size-2" style="margin-top: 20px;">Estimated Tax</h3> -->
            <h3 class="font-size-2" style="margin-top: 20px; font-weight: bold !important;">Subtotal</h3>
        </div>
        <div class="column-3 productContent" style="text-align: right;">
            <!-- <h3 class="font-size-2" style="margin-top: 25px;">$ Amount1</h3>
            <h3 class="font-size-2" style="margin-top: 20px;">$ Amount2</h3> -->
            <h3 class="font-size-2" style="margin-top: 20px; font-weight: bold !important;">$ ${getTotalPrice.getTotalPrice}</h3>

        </div>
    </div>
</div>
<div class="grid-container">
<form method="POST" action="${osgi.createCartEndpoint}">
<input type='hidden' name='authKey'  value='3df45282dd3b8859254419d0b54d4d50'/>
<input type='hidden' name='userName'  value='smch_internal'/>
<input type='hidden' name='customerNumber'  value='smch_customer'/>
<input type='hidden' name='distributorNumber'  value='${data.distributor}'/> 
<input type='hidden' name='country'  value='${data.country}'/> 
<input type='hidden' name='currency'  value='${data.currency}'/>
<input type='hidden' name='locale'  value='${data.formLocale}'/>
<input type='hidden' name='orderType'  value='new'/> 
<div data-sly-list.item="${data.cart.products}">
<input type='hidden' name='product[${data.products[itemList.index].gcid}][qty]'  value='${data.products[itemList.index].quantity}'/> 
<input type='hidden' name='product[${data.products[itemList.index].gcid}][subscriptionID]'  value='123'/>
<input type='hidden' name='product[${data.products[itemList.index].gcid}[offerID]'  value='1'/> 
<input type='hidden' name='product[${data.products[itemList.index].gcid}][subscriptionStartDate]'  value='${data.products[itemList.index].startDate}'/>
<input type='hidden' name='product[${data.products[itemList.index].gcid}][subscriptionEndDate]'  value='${data.products[itemList.index].endDate}'/>
<input type='hidden' name='product[${data.products[itemList.index].gcid}][parentProduct]'  value=''/>
</div>
    <div class="column-20 checkoutContent">
        <div class="column-13 productContent">
            <h3 class="cartText font-size-6"></h3>
        </div>
        <div class="column-7 productContent">
            <p style="text-align: right;">
                <button data-sly-test="${validate.cartIsValid}" type="submit" class="btn details btn-fill" style="width: 65%;">Proceed to Checkout</button>
                <button data-sly-test="${!validate.cartIsValid}" type="submit" class="btn details btn-fill" style="width: 65%;" disabled>Proceed to Checkout</button>
            </p>
            <p style="text-align: right; margin-right: 60px;">
                <a href="${data.storefrontPath}.html" class="link-blue">Continue Shopping</a>
            </p>
        </div>
    </div>
</div>

<!-- END SUBTOTAL, TAX, CHECKOUT, CONTINUE SHOPPING SECTION -->

<sly data-sly-call="${clientLib.js @ categories='cart'}" />



