<!-- BEGIN ESRI FOOTER THIS SECTION SHOULD NOT BE CHANGED EXCEPT BY ESRI-->
<div class="fatFooter">
    <div class="footerBG1">
        <div id="fatFooterHead">
            <div class="asocial">
                <strong><a href="/" title="Esri Home">Esri Home</a></strong>
            </div>
            <div class="socialLinks">
                <strong>Follow Us</strong><ul>
                <li><a href="http://www.esri.com/esri-news/arcwatch/subscribe" class="socialEmail" title="Subscribe to ArcWatch"><span>Email</span></a></li><li><a href="http://instagram.com/esrigram" class="socialInstagram" title="Instagram"><span>Instagram</span></a></li><li><a href="http://twitter.com/Esri" class="socialTwitter" title="Twitter"><span>Twitter</span></a></li><li><a href="http://www.facebook.com/esrigis" class="socialFacebook" title="Facebook"><span>Facebook</span></a></li><li><a href="http://www.linkedin.com/company/esri" class="socialLinkedIn" title="LinkedIn"><span>Linked In</span></a></li><li><a href="https://plus.google.com/+esri/posts" class="socialPlus" title="Google +"><span>Pinterest</span></a></li><li><a href="http://pinterest.com/esri/" class="socialPinterest" title="Pinterest"><span>Pinterest</span></a></li><li><a href="http://feeds.esri.com/Esri-News" class="socialRss" title="News Feed"><span>RSS</span></a></li><li class="clear"></li>
            </ul><div class="clear">

            </div>
            </div>
        </div>
    </div>

    <div class="clear">
    </div>
    <div class="footerBG2">
        <div class="footerBG2">
            <ul class="fatFooterBody">
                <li class="fatFooterList"><strong>Understanding GIS</strong>
                    <ul>
                        <li><a href="http://www.esri.com/what-is-gis" title="What is GIS">What is GIS?</a> </li>
                        <!--<li><a href="/software/arcgis/arcgisserver/live-user-sites.html" title="Live User Sites">Live User Sites</a> </li>-->
                        <li><a href="http://www.esri.com/mapmuseum" title="Map Book Gallery">Map Book Gallery</a> </li>
                        <li><a href="http://video.esri.com/" title="Video Library">Video Library</a></li>
                    </ul>
                    <!--
                ALL LINKS MUST BE BETWEEN 23-27 CHARACTERS IN LENGTH
                -->
                </li>
                <li class="fatFooterList"><strong>Company Information</strong>
                    <ul>
                        <li><a href="http://www.esri.com/about-esri" title="About Esri">About Esri</a> </li>
                        <li><a href="http://www.esri.com/careers" title="Esri Careers">Careers</a> </li>
                        <li><a href="http://blogs.esri.com/Info/blogs/esri-insider/default.aspx" title="Esri Insider Blog">Esri Insider Blog</a> </li>
                        <li><a href="http://www.esri.com/events/user-conference" title="Esri User Conference">Esri User Conference</a> </li>
                        <li><a href="http://trust.arcgis.com" title="Trust ArcGIS">Trust ArcGIS</a> </li>
                    </ul>
                    <!--
                ALL LINKS MUST BE BETWEEN 23-27 CHARACTERS IN LENGTH
                -->
                </li>
                <li class="fatFooterList"><strong>Services</strong>
                    <ul>
                        <li><a href="http://www.esri.com/services/professional-services" title="Professional Services">Professional Services</a> </li>
                        <li><a href="http://www.esri.com/services/professional-services/project-services" title="Project Services">Project Services</a> </li>
                        <li><a href="http://www.esri.com/services/professional-services/implementation" title="Implementation Services">Implementation Services</a> </li>
                        <li><a href="http://support.esri.com/en/support/premium" title="Premium Support Services">Premium Support Services</a> </li>
                    </ul>
                    <!--
                ALL LINKS MUST BE BETWEEN 23-27 CHARACTERS IN LENGTH
                -->
                </li>
                <li class="fatFooterList"><strong>Partners</strong>
                    <ul>
                        <li><a href="http://www.esri.com/partners/" title="Learn About Partners">Learn About Partners</a> </li>
                        <li><a href="http://partners.esri.com/" title="Search Partner Directory">Partner Directory</a></li>
                        <li><a href="http://www.esri.com/partners/apps/hw_promo/index.cfm" title="Hardware Promotions">Hardware Promotions</a> </li>
                    </ul>
                    <!--
                ALL LINKS MUST BE BETWEEN 23-27 CHARACTERS IN LENGTH
                -->
                </li>
                <li class="fatFooterList"><strong>Special Programs</strong>
                    <ul>
                        <li><a href="http://www.esri.com/esri-special-programs" title="Esri Special Programs">Esri Special Programs</a></li>
                        <li><a href="http://www.esri.com/nonprofit" title="Nonprofit">Nonprofit</a></li>
                        <li><a href="http://www.esri.com/industries/education" title="Education">Education</a></li>
                        <li><a href="http://www.esri.com/services/disaster-response" title="Disaster Response">Disaster Response</a></li>
                        <li><a href="http://www.esri.com/software/arcgis/arcgis-for-personal-use" title="ArcGIS for Personal Use">ArcGIS for Personal Use</a></li>
                        <li><a href="http://www.esri.com/esri-conservation-program" title="Conservation">Conservation</a></li>
                    </ul>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>